@font-face {
  font-family: 'Font1';
  src: url('../font/font1.otf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.navbar {
  position: absolute;
  top: 5%;
  right: 4%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.navbar li {
  font-family: 'Font1', sans-serif;
  font-size: 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
  transition: background 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.navbar a:hover {
  color: rgb(255, 255, 255);
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.container-tag img {
  position: fixed;
  top: 45px;
  left: 95px;
  width: 100px;
  z-index: 50;
}

.container-titel {
  color: white;
  font-size: 200px;
  font-family: 'Font1', sans-serif;
  z-index: 1;
  position: fixed;
  top: 55%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
  line-height: 1;
}

.container-titel h1 {
  margin: -10%;
  padding: 0;
}

.container-kanye img {
  width: 1200px;
  height: 900px;
  border-radius: 5px;
  opacity: 0.75;
  position: fixed;
  top: 54%;
  left: 68.2%;
  z-index: -10;
  transform: translate(-50%, -50%);
}

.burger-menu {
  display: none;
  position: fixed;
  top: 10px;
  right: 20px;
  cursor: pointer;
  z-index: 2000; 
}

.burger-menu .bar {
  width: 35px;
  height: 5px;
  margin: 6px 0;
  background-color: white;
  transition: 0.4s;
}

@media (max-width: 768px) {

  body {
      background-image: url(../images/kanye.avif);
      background-size: cover; 
    }

  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    z-index: 1000;
    padding: 20px;
    gap: 15px;
  }
  .navbar.open ul {
    display: flex;
  }

  .burger-menu {
    display: block;
  }

  .navbar a {
    font-size: 25px;
    padding: 15px 30px;
  }

  .container-tag img {
    width: 70px;
    top: 20px;
    left: 30px;
  }

  
  .container-titel {
      font-size: 120px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 1.1;
  }

  .container-kanye img {
      width: 800px; 
      height: 600px;
      opacity: 0.75;
      top: 70%; 
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
  }
}

@media (max-width: 480px) {
  .container-titel {
      font-size: 80px;
      top: 45%; 
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; 
      line-height: 1.2;
  }

  .container-kanye img {
      width: 500px; 
      height: 375px;
      opacity: 0.50;
      top: 65%; 
      left: 50%; 
      transform: translate(-50%, -50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
