@font-face {
    font-family: 'Font1';
    src: url('../font/font1.otf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.navbar {
    position: absolute;
    top: 5%;
    right: 4%;
    z-index: 1000;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
  }
  
  .navbar li {
    font-family: 'Font1', sans-serif;
    font-size: 40px;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative; /* Voor het pseudo-element */
    transition: background 0.3s ease;
  }
  
  .navbar a::after {
    content: "";
    position: absolute;
    bottom: 0; /* Plaats het streepje onder de tekst */
    left: 0;
    height: 5px;
    width: 100%;
    background: white;
    transform: scaleX(0); /* Begin met een niet-zichtbare streep */
    transform-origin: left; /* Start de animatie vanaf links */
    transition: transform 0.5s ease;
  }
  
  .navbar a:hover {
    color: rgb(255, 255, 255);
  }
  
  .navbar a:hover::after {
    transform: scaleX(1); /* Laat de streep volledig zichtbaar worden */
  }
  
.container-tag img {
    position: fixed;
    font-size: 50px;
    font-family: 'Font1', sans-serif;
    color: white;
    top: 45px;
    left: 95px;

    width: 100px;
}


.container-titel {
    color: white;
    font-size: 200px;
    font-family: 'Font1', sans-serif;
    z-index: 1;

    position: fixed;
    top: 55%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    line-height: 1;
}

.container-titel h1 {
    margin: -10%; 
    padding: 0; 
}

.container-kanye img {
    width: 1200px; 
    height: 900px; 
    border-radius: 5px;
    opacity: 0.75;

    position: fixed;
    top: 54%;
    left: 68.2%;
    z-index: -10;
    transform: translate(-50%, -50%);
}


