@font-face {
  font-family: 'Font1';
  src: url('../font/font1.otf') format('truetype');
}

@font-face {
  font-family: 'Font2';
  src: url('../font/font2.otf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  color: white;
}

.navbar {
  position: absolute;
  top: 5%;
  right: 4%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.navbar li {
  font-family: 'Font1', sans-serif;
  font-size: 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  position: relative; /* Voor het pseudo-element */
  transition: background 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 0; /* Plaats het streepje onder de tekst */
  left: 0;
  height: 5px;
  width: 100%;
  background: white;
  transform: scaleX(0); /* Begin met een niet-zichtbare streep */
  transform-origin: left; /* Start de animatie vanaf links */
  transition: transform 0.5s ease;
}

.navbar a:hover {
  color: rgb(255, 255, 255);
}

.navbar a:hover::after {
  transform: scaleX(1); /* Laat de streep volledig zichtbaar worden */
}


.container-tag img {
  position: absolute;
  font-size: 50px;
  font-family: 'Font1', sans-serif;
  color: white;
  top: 45px;
  left: 95px;

  width: 100px;
}

.main-container {
  margin: 150px 40px 40px;
}

.spotify-playlists h2 {
  font-family: 'Font1', sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
  margin-top: 60px;
}

.spotify-playlists .list {
  display: flex;
  gap: 20px;
}

.spotify-playlists .item {
  width: 375px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  transition: background-color 0.3s;  
  font-family: 'Font2', sans-serif;
}

.spotify-playlists .item:hover {
  background-color: #252525;
}

.spotify-playlists .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.spotify-playlists .play {
  position: relative;
}

.spotify-playlists .fa {
  position: absolute;
  right: 10px;
  top: -50px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.spotify-playlists .item:hover .fa {
  opacity: 1;
  transform: translateY(-10px);
}

.spotify-playlists h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.spotify-playlists p {
  font-size: 14px;
  color: #989898;
}
